/* common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f6f8f9;
    position: relative;
}

.inbl{
    display: inline-block;
}
/* /common */

/* topline */
header{
    box-sizing: content-box;
    background-color: #FFFFFF;
    padding: 10px 20px 3px;
    font-size: 30px;
    font-weight: bolder;   
}

.logo{
    
    height: 50px;
    width: 50px;   
    
}
.titolo{
    vertical-align: top;
    padding-top: 10px;
    letter-spacing: 1px;
}
/* /topline */

/* main */
main{
    background-color: #FFFFFF;
    max-width: 70%;
    margin: 40px auto;
}

.main-1{
    max-width: 80%;
    margin: 10px auto;
    color: #434851;
}

/* tasti */
.tasto{
    font-size: small;
    width: auto;
    text-align: center;
    line-height: 25px;
    border-radius: 5px;
    padding: 0 7px;
}

.tasto-a{
    margin-top: 15px;
    margin-bottom: 10px;
    margin-right: 5px;
    background-color: #14aaf5;
    color: #FFFFFF;
}

.tasto-b {
    color: #c4cbd0;
    border: 1px solid #c4cbd0;
}
/* /tasti */

hr{
    border: none;
    background-color: #f6f8f9 ;
    height: 2px;
    margin-left: -100%;
    margin-right: -100%;
}

h3{
    padding-top: 30px;
}

.word{
    font-weight: 600;
}

/* spunte */
.spunta{
    padding-left: 3px;
    height: 18px;
    width: 18px;
    border: 1px solid;
    border-radius: 50%;
    margin-top: 15px;
    margin-right: 5px;
    font-size: small;
}

.ok {
    color:#4ccfb8 ;
    border-color: #4ccfb8;
}

.no{
    color: #ff4343;
    border-color: #ff4343;
}
/* /spunte */

/* tastini colorati */
.tastino{
    font-size: smaller;
    padding: 5px 5px;
    border-radius: 11px; 
    margin-left: 10px;
    color: #FFFFFF;
}

.editorial{
    background-color: #09a9ed;
    border: 1px solid #09a9ed;
}

.goals{
    background-color: #ab5de6;
    border: 1px solid #ab5de6;
}

.recruting{
    background-color: #2cc6ab;
    border: 1px solid #2cc6ab;
}

.mobile{
    background-color: #ff9b00;
    border: 1px solid #ff9b00;
}

.website{
    background-color: #ec4a9d;
    border: 1px solid #ec4a9d;
}

.sales{
    background-color: #a3d116;
    border: 1px solid #a3d116;
}