/* main */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f6f8f9;
}
/* /main */

/* topline */
header{
    box-sizing: content-box;
    background-color: #FFFFFF;
    padding: 10px 20px 3px;
    font-size: 30px;
    font-weight: bolder;   
}

.logo{
    display: inline-block;
    height: 50px;
    width: 50px;   
    
}
.titolo{
    display: inline-block;
    vertical-align: top;
    padding-top: 10px;
    letter-spacing: 1px;
}
/* /topline */